<br>

  <div class="columns">
<% @articles.each do |article| %>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <%= image_tag article.featured_image %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            
            <div class="media-content">
              <p class="title is-4"><%= article.title %></p>
              <p class="subtitle is-6"><%= article.user.email %></p>
            </div>
          </div>

          <div class="content">
            <%= article.body.to_plain_text.truncate(200) %>
            <p><%= link_to 'Ler artigo...', article, class: 'button is-ghost' %></p>
            <br>
            <strong><time datetime=""><%= month_day(article.created_at) %></time><br><br></strong>
            <%= link_to 'Editar', edit_article_path(article) if policy(article).destroy? %>
            <%= link_to 'Deletar', article, method: :delete, data: { confirm: 'Are you sure?' } if policy(article).destroy?  %>
          </div>
        </div>
      </div>  
    </div>

<% end %>
  </div>




<%# PAGINACAO %>



<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <%= link_to_previous_page @articles, 'Anterior', class: "pagination-previous" %>
  <%= link_to_next_page @articles, 'Proxima', class: "pagination-next" %>
  <ul class="pagination-list">

  </ul>
</nav>




<%# FOOTER %>