
</br></br>
<figure class="image is-3by1">
  <%= image_tag @article.featured_image %>
</figure></br>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) if policy(@article).destroy? %> |
<%= link_to 'Back', articles_path %>
